version: '3.8'

services:
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  web:
    build: .
    command: >
      bash -c "
      nix-shell .idx/dev.nix --run '
      source .venv/bin/activate && 
      cd service && 
      python manage.py migrate && 
      gunicorn --bind 0.0.0.0:8080 service.wsgi --log-level=debug
      '
      "
    ports:
      - "8080:8080"
    depends_on:
      - redis
    volumes:
      - .:/app

  worker:
    build: .
    command: >
      bash -c "
      nix-shell .idx/dev.nix --run '
      source .venv/bin/activate &&
      cd service &&
      celery -A service.celery worker -l info
      '
      "
    depends_on:
      - redis
    volumes:
      - .:/app
